---
const {link,fullWidth,primary,secondary,grouped,icon,iconOnly} = Astro.props
import Icon from '@components/Icon.astro'
---

<button class:list={[{"w-full":fullWidth,"bg-purple-800 text-white ":primary,"bg-transparent hover:bg-purple-100":secondary,"border-0 border-l-0 border-r-0 first:border-0 first:border-0 first:rounded-tl-full first:rounded-bl-full last:border-0 last:border-r-0 last:border-l-0 last:rounded-tr-full last:rounded-br-full":grouped,"w-11 h-11":iconOnly},"h-11 px-4  rounded text-xl text-purple-800 border-2 flex justify-center gap-2 items-center border-purple-900 transition-colors duration-300"]}><slot />{icon ? <Icon icon={icon}/>:""}</button>