---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<div>
<BaseLayout>
<h1>Donations</h1>
<p><strong>The National Brain Appeal</strong> provides <span>&#65505</span>350,000 per year to directly fund the Rare Dementia Support service. In line with the expansion of Rare Dementia Support, the charity has also committed to raise up to <span>&#65505</span>7million to create the world's first centre of excellence for rarer dementias. Please join us in sustaining and growing our vital service and making a home for a Rare Dementia Support a reality.
The National Brain Appeal has a long history of championing research into dementias as well as funding support services for people affected by a diagnosis and their families and friends. The charity has supported Rare Dementia Support since the first meetings were established in 1994. Over the past four years, The National Brain Appeal has increased fundraising from <span>&#65505</span>150,000 to <span>&#65505</span>350,000 per year to broaden the services we provide and increase the number of people and dementias we support. The National Brain Appeal support RDS as part of their wider remit to raise funds for Queen Square. They help to provide much-needed funds to support The National Hospital for Neurology & Neurosurgery and the UCL Queen Square Institute of Neurology - together known as Queen Square. This is one of the world's leading centres for the diagnosis, treatment and care of patients with neurological and neuromuscular conditions. These include stroke, multiple sclerosis, brain cancer, epilepsy, Parkinson's disease, and dementia.</p>
<p>To make a donation please complete the form below or click on the donate button to make a one off donation on our dedicated RDS Justgiving page. You can also set up a regular payment, celebrate a life and leave a legacy by going to The National Brain Appeal website.​</p>
</BaseLayout>
</div>

<iframe class="w-full" style="width: 100%; height: 1500px;" frameborder="0" allowpaymentrequest="" src="https://app.donorfy.com/form/QW9T10VWX2/ZRNWT" data-gtm-yt-inspected-12="true"></iframe>