---
import AlpineInstance from 'alpinejs';
import BaseLayout from '../layouts/BaseLayout.astro'
---

<div x-data="data()">
<BaseLayout>
<h1>RDS</h1>
</BaseLayout>
</div>

<script>

	import AlpineInstance from 'alpinejs';
	
	AlpineInstance.data('data', () => ({
		open: false,
		toggle(){
			this.open =! this.open
		}
	}));
	</script>