---
import RainbowFull from "@components/RainbowFull.astro"
---

<div class="w-full grid grid-cols-1 grid-rows-1">
    <div class="relative col-span-1 col-start-1 col-end-2 row-span-1 row-start-1 row-end-2">
        <h1 class="">
            <span class="hidden" aria-hidden="true">Advice, Community, Learning</span>
            <figure class="relative">
                <img src="https://res.cloudinary.com/makingthings/image/upload/q_auto,f_auto/v1679657884/rds/hero-type.png" alt="title" />    
            </figure>    
        </h1>
    </div>    
    <div class="col-span-1 col-start-1 col-end-2 row-span-1 row-start-1 row-end-2 relative self-end justify-self-end">
        
        <figure class="ml-auto w-1/2">
            <img class="object-cover" src="https://res.cloudinary.com/makingthings/image/upload/q_auto,f_auto/v1679661273/rds/hero_cropped.png" alt="title" />
        </figure>
        <div class="absolute bottom-0 w-full flex h-2">
            <RainbowFull />
        </div>
    
    </div>
</div>