---

---

<div class="flex-row w-full md:w-3/4 xl:w-1/2 h-2 flex absolute -bottom-2">                    
    <span class=" flex-grow h-full bg-rds-brand-pca"></span>
    <span class=" flex-grow h-full bg-rds-brand-ppa"></span>
    <span class=" flex-grow h-full bg-rds-brand-ftd"></span>
    <span class=" flex-grow h-full bg-rds-brand-fftd"></span>
    <span class=" flex-grow h-full bg-rds-brand-yoad"></span>
    <span class=" flex-grow h-full bg-rds-brand-fad"></span>
    <span class=" flex-grow h-full bg-rds-brand-lbd"></span>    
        
</div>


    