---
import data from "../data.json"
---


    <nav aria-label="secondary-nav" class="w-full lg:w-1/2 items-start mx-auto">
        <ul class="flex w-full">
            {data.dementias.map((tab,index) => {return(
                <li class="flex-1  relative after:content-[''] after:block after:h-full after:w-px after:absolute after:bg-slate-200 after:right-0 after:top-0"><button class:list={[`w-full py-4 uppercase text-xl ${data.tabColors[index]}`]}>{tab.acronym}</button></li>
            )})}
        </ul>
    </nav>
