---
import AlpineInstance from 'alpinejs';
import Header from "../components/Header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46930814dd.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@:200;400;700;800&display=swap" rel="stylesheet">
    
</head>

<body class="bg-bg text-lg">
    <div x-data="data()" class="container mx-auto px-4 font-rds-sans">
        <header>
        <Header  />
    </header>
        <main >
            <slot />
        </main>
    </div>
    
</body>
</html>

    
    <script>
    
        import AlpineInstance from 'alpinejs';
        
        AlpineInstance.data('data', () => ({
            open: false,
            toggle(){
                this.open =! this.open
            }
        }));
        </script>

