---
import data from '../../data.json'
import Icon from "@components/Icon.astro"
import Tabs from "@components/Tabs.astro"
import ButtonGroup from '@components/buttons/ButtonGroup.astro'
import Button from '@components/buttons/Button.astro'
const underlineColors = ['decoration-rds-light-pca-200 hover:decoration-rds-light-pca-300','decoration-rds-light-ppa-200 hover:decoration-rds-light-ppa-300','decoration-rds-light-ftd-200 hover:decoration-rds-light-ftd-300','decoration-rds-light-fftd-200 hover:decoration-rds-light-fftd-300','decoration-rds-light-yoad-200 hover:decoration-rds-light-yoad-300','decoration-rds-light-fad-200 hover:decoration-rds-light-fad-300','decoration-rds-light-lbd-200 hover:decoration-rds-light-lbd-300']
---

<nav class="hidden xl:flex justify-between items-center">
    <ul class="flex w-full gap-4 ">
        {data.navItems.map((item,index) => {
            return(
                <li class="group"><a href="#?" class="flex items-center gap-2"><span class="capitalize">{item.name}</span><Icon icon="fa-caret-down"/></a>
                    <ul class="z-10 w-full invisible opacity-0 absolute left-0 pt-6 flex gap-4  group-hover:visible group-hover:opacity-100 ">
                        <li class="w-full bg-rds-light-bg-primary" >
                            {index == 0 && <Tabs />}
                            <div class="flex w-full p-12 gap-8">
                                {item.columns.map((column) => {return(
                                    
                                    <div class="w-1/3 flex flex-col divide-y">
                                        <h2 class="font-rds-sans uppercase tracking-widest font-extrabold text-base mb-4">{column.title}</h2>
                                        {column.isList === false ? 
                                                                        
                                            <div class:list={[`flex py-4 w-full items-center`]}>
                                            <p class="mr-2">{column.body[0]}</p>
                                        </div>
                                        :

                                    column.body.map((body) => {                        
                                            return(
                                            <div class:list={[`flex py-4 w-full items-center`]}>
                                            <a href="#?" class=""><span class="mr-2">{body}</span><Icon icon="fa-arrow-right"/></a>
                                        </div>
                                        )})
                                    }
                                        
                                        </div>
                                )}
                                )}
                            
                            </div>
                            </li>
                            
                        </ul>
                    </li>
            )
        })}
    </ul>
    <ButtonGroup pr>
        <Button link secondary grouped iconOnly icon="fa-sun" />
        <Button link secondary grouped iconOnly icon="fa-text-size" />
    </ButtonGroup>    
</nav>
